body {
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: darkslategrey;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: royalblue;
}

form {
    background: whitesmoke;
    padding: 20px;
}

a {
    background: royalblue;
    color: white;
    padding: 3px;
}

button {
    background-color: royalblue;
    color: white;
    margin: 15px;
}

.hero-unit {
    background-image: url("https://cdn.pixabay.com/photo/2014/07/14/22/06/highway-393492_1280.jpg");
    background-size: cover;
    height: 350px;
    width: 100%;
}

h1 {
    margin: 30px 20px 20px 20px;
    color: whitesmoke;
}

h4 {
    margin: 20px;
    color: whitesmoke;
}

btn {
    margin: 20px;
    padding: 1px;
}