/*																							*
*					*					home.php					*						*/

				/* site background */
.content {
	background-color: #bcd2ee;
}

				/* table */
.no-wrap {
	white-space: nowrap;
	font-weight: bold;
}

